$yellow: #FFE74C;
$red: #FF5964;
$white: #ffffff;
$darkblue: #38618C;
$blue: #35A7FF;
$olive: #8FC93A;
$orange: #DB9D47;
$black: #3A3042;


$light: 100;
$regular: 400;
$heading: 500;

$bold: 600;

$main_font: 'Lato';

$img-thumbnail-color: #ddd;

$hr-color: #eee;

$small-color: #777;
